* text=auto

*.cs     diff=csharp
*.md     diff=markdown

*.doc    diff=astextplain
*.docx   diff=astextplain
*.pdf    diff=astextplain
*.rtf    diff=astextplain

# Ensure consistent line endings
*.md     eol=lf
*.cs     eol=lf
*.json   eol=lf
