@import "../lib/bootstrap/less/bootstrap.less";
@import "../lib/font-awesome/less/font-awesome.less";


.footer {
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  font-size: 10px;
}
.splash {
  text-align: center;
}
body {
  font-size: 1em;
  background-color: black;
  color: whitesmoke;
}
h1, h2, h3, h4, h5, h6 {
  color: white;
  font-weight: bold;
}
.credits{
  font-size: 14px;
}
.settings{
  text-align: center;
  font-size: 14px;
  form {
    background-color: whitesmoke;
    text-align: left;
    color: #777;
    padding: 15px;
    width: 80%;
    margin: 0 auto;
  }
  h1, h2, h3, h4, h5, h6 {
    color: #777;
  }
  .tab-content {
    padding: 10px;
    margin: 10px auto;
    height: 350px;
    overflow-y: auto;
  }
  .footer {
    position: relative;
    margin-top: 10px;
  }
}