<div class="row">
    <div class="col-md-12 splash">
        <h1>Knowledge</h1>
        <h4>a game on mankind</h4>
        <p>...brougth to you with passion and love by Dario Olivini</p>
    </div>
    <div class="col-md-12 splash">
        <div class="btn-group-vertical">
            <a href="/" class="btn btn-block btn-default">Back</a>
        </div>
    </div>
</div>