<div class="row">
    <div class="col-md-12 splash">
        <h1>Knowledge</h1>
        <h4>a game on mankind</h4>
        <div class="btn-group-vertical">
            <a href="/new" class="btn btn-block btn-default">New game</a>
            <a href="/load" class="btn btn-block btn-default">Load game</a>
            <a href="/settings" class="btn btn-block btn-default">Settings</a>
            <a href="/credits" class="btn btn-block btn-default">Credits</a>
        </div>
    </div>
</div>