<div class="row">
    <div class="col-md-12 splash">
        <h1>Settings</h1>
        <form method="post" action="/settings">
            <ul class="nav nav-tabs sections">
                <li role="presentation" class="active"><a href="#general"><i class="fa fa-user" aria-hidden="true"></i> General</a></li>
                <li role="presentation" class="disabled"><a href="#graphics"><i class="fa fa-desktop" aria-hidden="true"></i> Graphics</a></li>
                <li role="presentation" class="disabled"><a href="#sounds"><i class="fa fa-music" aria-hidden="true"></i> Sounds</a></li>
                <li role="presentation" class="disabled"><a href="#controls"><i class="fa fa-gamepad" aria-hidden="true"></i> Controls</a></li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="general">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6">
                                <h4>Profile</h4>
                                <div class="form-group">
                                    <label for="player_name">Profile name</label>
                                    <input type="text" class="form-control" id="player_name" name="player.name"
                                           value="Player">
                                </div>
                                <div class="form-group">
                                    <label for="player_email">Email address</label>
                                    <input type="email" class="form-control" id="player_email" name="player.email"
                                           placeholder="Email">
                                </div>
                                <div class="form-group">
                                    <label style="display: block">Gender</label>
                                    <div class="radio-inline">
                                        <label class="btn btn-link">
                                            <input type="radio" name="player.gender" value="male" checked>
                                            <i class="fa fa-3x fa-mars" aria-hidden="true"></i>
                                        </label>
                                    </div>
                                    <div class="radio-inline">
                                        <label class="btn btn-link">
                                            <input type="radio" name="player.gender" value="female">
                                            <i class="fa fa-3x fa-venus" aria-hidden="true"></i>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <h4>Difficulty</h4>
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="general.difficulty" value="casual" aria-describedby="gd-casual-help">
                                        Casual
                                    </label>
                                    <span id="gd-casual-help" class="help-block">You have little or no experience playing strategy games.</span>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="general.difficulty" value="normal" checked aria-describedby="gd-normal-help">
                                        Normal
                                    </label>
                                    <span id="gd-normal-help" class="help-block">You have some experience playing strategy games.</span>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="general.difficulty" value="hard" aria-describedby="gd-hard-help">
                                        Hard
                                    </label>
                                    <span id="gd-hard-help" class="help-block">Only choose Hard if you are a Knowledge veteran.</span>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="general.difficulty" value="ironman" aria-describedby="gd-ironman-help">
                                        Ironman
                                    </label>
                                    <span id="gd-ironman-help" class="help-block">Only for the bravest and veteran Knoledge players!</span>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="graphics">
                    todo
                </div>
                <div role="tabpanel" class="tab-pane" id="sounds">
                    todo
                </div>
                <div role="tabpanel" class="tab-pane" id="controls">
                    todo
                </div>
            </div>
            <div class="form-group">
                <a href="/" class="btn btn-default">Back</a>
                <button type="reset" class="btn btn-default">Cancel</button>
                <button type="submit" class="btn btn-default">Apply</button>
                {{#if error}}
                    <div class="pull-right text-danger">{{message}}</div>
                {{else}}
                    {{#if message}}
                        <div class="pull-right text-success">{{message}}</div>
                    {{/if}}
                {{/if}}
            </div>
        </form>
    </div>
</div>