<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
    <meta name='apple-mobile-web-app-capable' content='yes'/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{{title}}</title>
    <link rel="stylesheet" href="/public/lib/font-awesome/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="/public/styles/style.css"/>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body class="{{bodyClasses}}">
<div class="container-fluid">
    {{{body}}}
</div>
<footer class="footer">
    <div class="container">
        <p class="text-muted">This game is released with the MIT license - @copyright 2016 Dario Olivini. All rights
            reserved.</p>
    </div>
</footer>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="/public/lib/jquery-2.2.3.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/public/lib/bootstrap/dist/js/bootstrap.min.js"></script>
{{#if handler}}
    <script async src="/public/js/{{handler}}"></script>
{{/if}}
</body>
</html>